

body{
    background-color: #8e44ad;
    font-family: 'Muli';
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: auto;
}

#title{
    color: white;
    font-size: 24px;
    text-align: center;
}

section{
    text-align: left;
    background-color: white;
    border-radius: 15px;
    width: 700px;
    margin: auto;
    padding: 15px;    
    box-shadow: 2px 2px 8px black;
}

.freela{
    padding: 5px;
    margin: 5px;
    color: #1a171b;
}

#btnCalcular{
    position: relative;
    left: 46%;
}

#resultado{
    color: white;
    text-align: center;
    font-size: 20px;
    height: 80px;
}

#informacao{
    position: absolute;
    left: 52%;
    top: 30%;
    padding-right: 25%;
}

footer{
    color: white;
    text-align: center;
    margin-bottom: auto;
}